@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

/* Mobile menu transition */
.mobile-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.mobile-menu.open {
    max-height: 500px;
    /* Adjust this value based on your menu's height */
    display: block;
}
